.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color:  white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.authh2 {
  text-align: center;
  color: #A4A6B3;
  text-shadow: 2px;
  font-weight: bold;
  font-family: "Mulish";
  font-size: 19;
}
.authh1 {
  text-align: center;
  color: 'black';
  text-shadow: 2px;
  font-weight: bold;
  font-family: "Mulish";
  font-size: 12;
}

.control {
  margin-bottom: 0.5rem;
}



.input {
  font: inherit;
  background-color: #f1e1fc;
  color: #F0F1F7;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #3CB98B;
  border: 1px solid #3CB98B;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #3CB98B;
  border-color: #3CB98B;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #3CB98B;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #3CB98B;
}